{% extends 'base.html' %} {% block content %}
{% load customtags %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'styles/postcontent.css' %}"/>

<div class="container">
  <div class="row">
    <div class="col-md-8 card mb-4  mt-3 left  top">
      {% if user.is_authenticated %}
        <div class="raw">
          <a href="{% url 'article_edit' article.slug  %}" class="btn btn-outline-info float-right" style="margin-top:10px;">Изменить</a>
        </div>
      {% endif %} 
      <div class="card-body">
        <h1>{% block title %} {{ article.title }} {% endblock title %}</h1>
        <p class=" text-muted">{{ article.author }} | {{ article.created_on }}</p>
        <p class="card-text ">{{ article.content | custom_markdown | html_edit | safe }}</p>
      </div>
    </div>
    {% block sidebar %} {% include 'sidebar.html' %} {% endblock sidebar %}
    
    {% with post=article %}
      {% block comments %} {% include 'post_comments/post_comments.html' %} {% endblock %}
    {% endwith %}

    {% block comment_form %} {% include 'post_comments/post_comment_form.html' %} {% endblock %}
    
  </div>
</div>

{% endblock content %}