{% extends "base.html" %} 
{% block content %}

<div class="container">
    <!-- contacts card -->
    <div class="card card-default" id="card_contacts">
        <div id="contacts" class="panel-collapse collapse show" aria-expanded="true" style="">
            <ul class="list-group pull-down" id="contact-list">
                <li class="list-group-item">
                    <div class="row w-100">
                        <div class="col-12 col-sm-6 col-md-3 px-0">
                            <img src="https://sun9-45.userapi.com/impg/ll3qUJTIMn9Blns7mnLuu9L6KGgW7K-ssHa7Hw/iXmyLCGwEz4.jpg?size=130x125&quality=96&sign=4cec4a30ef75ec1773f10103baa3792a&type=album" alt="Mike Anamendolla" class="rounded-circle mx-auto d-block img-fluid">
                        </div>
                        <div class="col-12 col-sm-6 col-md-9 text-center text-sm-left">
                            <span class="fa fa-mobile fa-2x text-success float-right pulse" title="online now"></span>
                            <label class="name lead">Общие контакты</label>
                            <br>
                            <span class="fa fa-phone fa-fw text-muted" data-toggle="tooltip" title="" data-original-title="+7 (918) 502 93-77"></span>
                            <span class="text-muted small">+7 (918) 502 93-77</span>
                            <br>
                            <span class="fa fa-envelope fa-fw text-muted" data-toggle="tooltip" data-original-title="" title=""></span>
                            <span class="text-muted small text-truncate">Github: <a href="https://github.com/open-cyb" target="_blank">opencyb</a></span>
                            <br>
                            <span class="fa fa-envelope fa-fw text-muted" data-toggle="tooltip" data-original-title="" title=""></span>
                            <span class="text-muted small text-truncate">opencyb@gmail.com</span>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row w-100">
                        <div class="col-12 col-sm-6 col-md-3 px-0">
                            <img src="https://sun9-88.userapi.com/impg/QrZRuuqQmBjVIVSXu7-cwWlAo25rsMIjUHUdEg/7klInV1aTbo.jpg?size=128x130&quality=96&sign=907280c88751af831ac50fdd7e39b860&type=album" alt="Mike Anamendolla" class="rounded-circle mx-auto d-block img-fluid">
                        </div>
                        <div class="col-12 col-sm-6 col-md-9 text-center text-sm-left">
                            <span class="fa fa-mobile fa-2x text-success float-right pulse" title="online now"></span>
                            <label class="name lead">Вадим Кондратов, bpqvg</label> 
                            <br>
                            <span class="fa fa-phone fa-fw text-muted" data-toggle="tooltip" title="" data-original-title="+7 (918) 502 93-77"></span>
                            <span class="text-muted small">+7 (918) 502 93-77</span>
                            <br>
                            <span class="fa fa-envelope fa-fw text-muted" data-toggle="tooltip" data-original-title="" title=""></span>
                            <span class="text-muted small text-truncate">Вконтакте: <a href="https://vk.com/yahz1" target="_blank">Вадим</a></span>
                            <br>
                            <span class="fa fa-envelope fa-fw text-muted" data-toggle="tooltip" data-original-title="" title=""></span>
                            <span class="text-muted small text-truncate">Телеграм: <a href="https://t.me/vimnative" target="_blank">telegram</a></span>
                            <br>
                            <span class="fa fa-envelope fa-fw text-muted" data-toggle="tooltip" data-original-title="" title=""></span>
                            <span class="text-muted small text-truncate">bpqvgq@gmail.com</span>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row w-100">
                        <div class="col-12 col-sm-6 col-md-3 px-0">
                            <img src="https://sun9-37.userapi.com/impg/zNEAf6bFl01oJnpRk8TfNi1IzqlqaqCjBsz7bg/LnT88qJE5Io.jpg?size=130x103&quality=96&sign=a508c2b37c6415d474604edf7f50e3a7&type=album" alt="Mike Anamendolla" class="rounded-circle mx-auto d-block img-fluid">
                        </div>
                        <div class="col-12 col-sm-6 col-md-9 text-center text-sm-left">
                            <span class="fa fa-mobile fa-2x text-success float-right pulse" title="online now"></span>
                            <label class="name lead">Пётр Ледерер, frizik</label> 
                            <br>
                            <span class="fa fa-phone fa-fw text-muted" data-toggle="tooltip" title="" data-original-title="+7 (918) 850 47-22"></span>
                            <span class="text-muted small">+7 (918) 850 47-22</span>
                            <br>
                            <span class="fa fa-envelope fa-fw text-muted" data-toggle="tooltip" data-original-title="" title=""></span>
                            <span class="text-muted small text-truncate">Вконтакте: <a href="https://vk.com/petr_lederer" target="_blank">Пётр</a></span>
                            <br>
                            <span class="fa fa-envelope fa-fw text-muted" data-toggle="tooltip" data-original-title="" title=""></span>
                            <span class="text-muted small text-truncate">plederer25@gmail.com</span>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row w-100">
                        <div class="col-12 col-sm-6 col-md-3 px-0">
                            <img src="https://sun9-43.userapi.com/impg/KEOhawe6Czp3T2fF-PSlXBo0IboornTgVCy-pg/_RpXS0I1BAw.jpg?size=120x130&quality=96&sign=a9f69e46e9062c6937eff74c23adcf1b&type=album" alt="Mike Anamendolla" class="rounded-circle mx-auto d-block img-fluid">
                        </div>
                        <div class="col-12 col-sm-6 col-md-9 text-center text-sm-left">
                            <span class="fa fa-mobile fa-2x text-success float-right pulse" title="online now"></span>
                            <label class="name lead">Даниил Кочубей, zimus</label> 
                            <br>
                            <span class="fa fa-phone fa-fw text-muted" data-toggle="tooltip" title="" data-original-title="+7 (951) 839 73-06"></span>
                            <span class="text-muted small">+7 (951) 839 73-06</span>
                            <br>
                            <span class="fa fa-envelope fa-fw text-muted" data-toggle="tooltip" data-original-title="" title=""></span>
                            <span class="text-muted small text-truncate">Вконтакте: <a href="https://vk.com/id177176834" target="_blank">Даниил</a></span>
                            <br>
                            <span class="fa fa-envelope fa-fw text-muted" data-toggle="tooltip" data-original-title="" title=""></span>
                            <span class="text-muted small text-truncate">primedks@gmail.com</span>
                        </div>
                    </div>
                </li>
            </ul>
            <!--/contacts list-->
        </div>
    </div>
</div>
{%endblock%}