{% extends 'base.html' %} {% block content %}
{% load customtags %}
{% block post_detail %} {% include 'post_detail.html' %} {% endblock %}

<div class="container">
  <div class="row">
    <div class="col-md-8 card mb-4  mt-3 left  top">
      <div class="card-body">
        <h1>{% block title %} {{ new.title }} {% endblock title %}</h1>
        <p class=" text-muted">{{ new.author }} | {{ new.created_on }}</p>
        <p class="card-text ">{{ new.content | custom_markdown | html_edit | safe }}</p> <!--| safe --> 
      </div>
    </div>
    {% block sidebar %} {% include 'sidebar.html' %} {% endblock sidebar %}

    {% with post=new %}
      {% block comments %} {% include 'post_comments.html' %} {% endblock %}
    {% endwith %}

    {% block comment_form %} {% include 'post_comment_form.html' %} {% endblock %}
  </div>
</div>

{% endblock content %}