{% extends "base.html" %} 
{% block content %}
{% load md2 %}

<style>
    body {
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        background-color: #fdfdfd;
    }
    
    .head_text {
        color: white;
    }
    
    .card {
        box-shadow: 0 16px 48px #E3E7EB;
    }

    /* Markdown custom templates */
    /* "preview" templates */
    img[alt="preview >"] {
        float: right;
        max-width: 30%;
        height:auto;
        padding-left: 10px;
    }

    img[alt="preview <"] {
        float: left;
        max-width: 30%;
        height:auto;
        padding-right: 10px;
    }

    img[alt="preview ><"] {
        display: block;
        max-width: 100%;
        height: auto;
        margin: auto;
        float: none!important;
    }
</style>

<div class="container">
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-md-8 mt-3 left">
            {% for new in new_list %}
            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="card-title">{{ new.title }}</h2>
                    <p class="card-text">{{new.content| markdown:"safe, code-friendly, code-color" | slice:":200" }}</p>
                    <a href="{% url 'new_detail' new.slug  %}" class="btn btn-primary float-right">Читать далее &rarr;</a>
                </div>
                <div class="card-footer text-muted">
                    <p class="card-text text-muted h6 float-left">Автор: {{ new.author }}</p>
                    <p class="card-text text-muted h6 float-right">Дата: {{ new.created_on}}</p>
                </div>
            </div>
            {% endfor %}
        </div>
        {% block sidebar %} {% include 'sidebar.html' %} {% endblock sidebar %}
    </div>
</div>
{%endblock%}