{% extends "base.html" %} {% block content %}

<div class="content-section">
    <div class="media">
        <img class="rounded-circle account-img" src="{{ profile.image }}">
        <div class="media-body">
            <p class="text-secondary">{{ profile.user.first_name }}</p>
            <p class="text-secondary">{{ profile.user.last_name }}</p>
            <p class="text-secondary">{{ profile.user.username }}</p>
            <p class="text-secondary">{{ profile.slug }}</p>
            <p class="text-secondary">{{ profile.phone_number }}</p>
            <p class="text-secondary">{{ profile.email }}</p>
            <p class="text-secondary">{{ profile.links_json }}</p>
            <p class="text-secondary">{{ profile.description }}</p>
        </div>
    </div>
</div>

{% endblock content %}