{% extends 'base.html' %} {% block content %}
{% load md2 %}

<style>
  /* Markdown custom templates */
    /* "preview" templates */
    img[alt$="preview"] {
      display: block;
      max-width: 100%;
      height: auto;
      margin: auto;
      float: none!important;
    }

    /* Content images types */
    /* img-type1: centered image on all div width */
    img[alt="img-type1"] {
      display: block;
      max-width: 100%;
      height: auto;
      margin: auto;
      float: none!important;
    }
</style>

<div class="container">
  <div class="row">
    <div class="col-md-8 card mb-4  mt-3 left  top">
      <div class="card-body">
        <h1>{% block title %} {{ project.title }} {% endblock title %}</h1>
        <p class=" text-muted">{{ project.author }} | {{ project.created_on }}</p>
        <p class="card-text ">{{ project.content | markdown:"safe, code-friendly, code-color" }}</p> 
      </div>
    </div>
    {% block sidebar %} {% include 'sidebar.html' %} {% endblock sidebar %}
  </div>
</div>

{% endblock content %}