{% block sidebar %}

<style>
        .card{
            box-shadow: 0 16px 48px #E3E7EB;
        }
       
</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
<div class="card my-4">
        <!-- <h5 class="card-header"></h5> -->
    <div class="card-body">
        <p class="card-text">Последние <a href="{% url 'home' %}" class="stretched-link link-primary">новости</a>:</p>
        <p class="card-text">Последние <a href="{% url 'articles_page' %}" class="stretched-link link-primary">статьи</a>:</p>
        <p class="card-text">Последние <a href="{% url 'projects_page' %}" class="stretched-link link-primary">проекты</a>:</p>
        <!-- <p class="card-text"> Место под какую-нибудь информацию</p> -->
        <!-- <a href="https://github.com/open-cyb"
           class="btn btn-danger">Узнать больше</a> -->
    </div>
</div>
</div>

{% endblock sidebar %}