{% extends "base.html" %} {% block content %}

<style>
    .snippet-link a{
        text-decoration: none;
        color: #495057;
        font-weight: 600;
        font-size: 18px;
        margin-left: 1%;
    }
</style>

<div class="container">
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-md-8 mt-3 left">
            <div class="raw">
                <a href="{% url 'snippet_upload'  %}" class="btn btn-outline-success float-right">Новый Snippet</a>
                <form class="form-inline" method="post" action="">
                    {% csrf_token %}
                    <input class="form-control mr-sm-2" type="search" placeholder="Название" aria-label="Search" name="filtered">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Фильтр</button>
                </form>
            </div>
            <br>
            {% if filtered_not_results %}
                <p>Нет результатов</p>
            {% endif %}
            {% for snippet in snippet_list %}
            {% block modal %} {% include 'snippets/modal.html' %} {% endblock modal %}
            <div class="card mb-4">
                <div class="card-body">
                    <div class="snippet-link">
                        <a href="{% url 'snippet_detail' snippet.slug  %}">
                            {{ snippet.title }}
                            <p class="float-right">Язык: {{ snippet.language }}</p>
                        </a>
                    </div>
                </div>
                <div class="card-footer text-muted">
                    <div class="float-left m-0">
                        <p class="card-text text-muted h6 float-top mb-0">Дата: {{ snippet.created_on}}</p>
                        <p class="card-text text-muted h6 float-bottom mt-0">Автор: {{ snippet.author }}</p>
                    </div>
                    <a href="{% url 'snippet_detail' snippet.slug  %}" class="btn btn-outline-info float-right">Открыть</a>
                    <button type="button" class="btn btn-outline-danger float-right" data-toggle="modal" data-target="#exampleModalCenter" style="margin-right: 5px;">Удалить</button>
                    <a href="{% url 'snippet_edit' snippet.slug  %}" class="btn btn-outline-info float-right" style="margin-right: 5px;">Изменить</a>
                </div>
            </div>
            {% endfor %}
        </div>
        {% block sidebar %} {% include 'sidebar.html' %} {% endblock sidebar %}
    </div>
</div>
{%endblock%}