{% extends 'base.html' %} {% block content %}

<div class="container">
    <div class="card mt-5">
        <div class="card-header text-center py-1">
            <h2>Загрузить snippet</h2>
        </div>
        <div class="px-3 py-4">
            <form action="" method="POST">
                {% csrf_token %}
                <div class="row g-1">
                    <div class="col-11">Название: {{form.title}}</div>
                    <br>
                    <div class="col-11">Автор: {{form.author}}</div>
                    <br>
                    <div class="col-11">Язык: <p class="text-muted">Смотреть наименования по <a href="https://pygments.org/docs/lexers/" target="_blank">ссылке</a>, для подсветки кода, нужно вводить именно такие</p>{{form.language}}</div>
                    <br>
                    <div class="col-11">Исходный код: {{form.code}}</div>
                </div>
                <div class="row g-1 col-2">
                    <button class="btn btn-success btn-lg w-100" type="submit">Загрузить</button>
                </div>
            </form>
        </div>
    </div>
    {% if errors %}
        <div class="alert alert-danger mt-4" role="alert">
            <p>{{ errors }}</p>
        </div>
    {% endif %}

  </div>

{% endblock content %}