{% extends 'base.html' %} {% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-8 card mb-4  mt-3 left  top">
      <div class="card-body">
        <h2>{{ snippet.title }}</h2>
        <div class="container float-top">
          <p class=" text-muted float-left">Дата: {{ snippet.created_on }}</p>
          <p class=" text-muted float-right">Язык: {{ snippet.language }}</p>
        </div>
        <br><br>
        <!-- <p class="card-text ">{{ snippet.code }}</p> -->
        {{ code | safe }}
        {% if user.is_authenticated %}
          <br>
          <a href="{% url 'snippet_edit' snippet.slug  %}" class="btn btn-outline-info float-right">Изменить</a>
        {% endif %} 
      </div>
    </div>
    {% block sidebar %} {% include 'sidebar.html' %} {% endblock sidebar %}    
  </div>
</div>

{% endblock content %}