body {
    font-family: "Roboto", sans-serif;
    font-size: 17px;
    background-color: #fdfdfd;
}

.shadow {
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.1);
}
.btn-danger {
    color: #fff;
    background-color: #f00000;
    border-color: #dc281e;
}

#toTopBtn {
    display: none;
    position: fixed;
    bottom: 26px;
    right: 39px;
    /* z-index: 98; */
    padding: 21px;
    background-color: rgba(226, 226, 226, 0.767);
    border-radius: 50%;
    width: 59px;
    height: 59px;
}

.arrow {
    border: solid rgb(141, 141, 141);
    border-width: 0 6px 6px 0;
    display: inline-block;
    padding: 6px;
}
.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.head_text {
    color: white;
}

.card {
    box-shadow: 0 16px 48px #E3E7EB;
}

/* .code-snippet {
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
    float: none!important;
} */