body {
    font-family: "Roboto", sans-serif;
    font-size: 17px;
    background-color: #fdfdfd;
}

.head_text {
    color: white;
}

.card {
    box-shadow: 0 16px 48px #E3E7EB;
}

/* Markdown custom templates */
/* "preview" templates */
img[alt="preview <"] {
    float: left;
    max-width: 30%;
    height:auto;
    padding-right: 10px;
}